<div class="row mb-4 blog">
  <div class="col-md-5 blog-header">
    <h2>
      <a href="/blogs/{{post.id}}">{{post.blog_name}}</a>
    </h2>
    <p>
    <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
    </p>
  </div>
  <div class="col-md-7">
    <p>
      <span class="blog-text">{{post.blog_post}}</span>
    </p>
  </div>
</div>
{{#each post.comments as |comments| }}
<div class="row mb-4 blog">
  <p>
    <span class="blog-text">{{comments.comment_text}}</span>
  </p>
  <p> &nbsp- {{log ../post}} {{ ../post.User.username}}, {{format_date comments.date_created}}</p><br>
</div> 
{{/each}}

<div class="row">
  <div class="col-md-6">
    <h2>Add Comment</h2>
    <form class="form new-post-form">
      <div id="-{{post.id}}" class="form-group">
        <input class="form-input" type="text" id="content-new-comment" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="createComment">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/addcomment.js"></script>